@(message: String) @main("Monitor") {
<script>
	$(function() {
		$('#inner_content_div').slimScroll({
			height : '250px'
		});
	});
</script>
<div class="row row-offcanvas row-offcanvas-right">
	<div class="col-xs-10 col-sm-8">
		<ol class="breadcrumb">
			<li><a href="/">Home</a></li>
			<li class="active">Monitor</li>
		</ol>
		<h1>Monitor</h1>
		<div class="col-md-8" id="popover-div">
			<div class="progress active progress-striped" id="order-progress">
			</div>
			<div class="media">
				<a class="pull-left" href="#"> <img id="page_image"
					class="media-object" src="http://placehold.it/150x100" width="150px">
				</a>
				<div class="media-body">
					<h4 class="media-heading">Information</h4>
					<dl>
						<dt>Client</dt>
						<dd id="client_label">Not available</dd>
						<dt>Date</dt>
						<dd id="date_label">Not available</dd>
					</dl>
				</div>
			</div>
		</div>
		<div class="col-md-12" style="margin: 20px;">
			<div class="col-md-6">
				<div>
					<h4>Products</h4>
					<ul id="products_list">
						<i>No data available.</i>
					</ul>
				</div>
			</div>
			<div class="col-md-6">
				<div>
					<h4>Status</h4>
					<ul id="status_list">
						<i id="first_line_status">No data available.</i>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-8 col-sm-4 sidebar-offcanvas" id="sidebar"
		role="navigation">
		<div class="portlet box blue">
			<div class="portlet-title">
				<div class="caption">Recent Activity</div>
			</div>
			<div class="portlet-body">
				<div id="inner_content_div" class="scroller">
					<ul class="feeds" id="live_feed">
						<li id="first_line">No activity detected.</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<script type="text/javascript" charset="utf-8">
		var lastOrderId = null;
		var lastPageId = null;
		var percentage = 0;
		var popover = false;
		var errSound = document.createElement('audio');
		errSound.setAttribute('src', "@routes.Assets.at("sounds/error.mp3")");
		errSound.load;
		var succSound = document.createElement('audio');
		succSound.setAttribute('src', "@routes.Assets.at("sounds/success.mp3")");
		succSound.load; 
		function buildPageFeed(page) {
			var resultHTML = '<li><div class="col-md-8"><span class="glyphicon glyphicon-bullhorn"></span> '
					+ '<a href="/order/' + page.order.id + '/tray">'
					+ 'Tray Arrived'
					+ '</a></div><div class="col-md-4 abbr_time"><i style="font-size: 10px;"><abbr class="timeago" title="'
					+ new Date().toISOString() + '"></abbr></i></div></li>';
			return resultHTML;
		}
		function buildStatusFeed(status, id) {
			var resultHTML = '<li><div class="col-md-8"><span class="glyphicon glyphicon-bullhorn"></span> '
					+ '<a href="/order/' + id + '/tray">'
					+ status.description
					+ '</a></div><div class="col-md-3 abbr_time"><i style="font-size: 10px;"><abbr class="timeago" title="'
					+ new Date().toISOString() + '"></abbr></i></div></li>';
			return resultHTML;
		}
		function addPercentageToBar(percentage, type) {
			var result = ''
			switch (type) {
				case "success":
					result = '<div class="progress-bar progress-bar-' + type + '" style="width: ' + percentage + '%"></div>';
					break;
				case "warning":
					result = '<div class="progress-bar progress-bar-' + type + '" style="width: ' + percentage + '%"></div>';
					break;
				case "danger":
					result = '<div class="progress-bar progress-bar-' + type + '" style="width: ' + percentage + '%"></div>';
					break;
				default:
					result = '<div class="progress-bar progress-bar-success" style="width: ' + percentage + '%"></div>';
			}
			$("#order-progress").append(result)
		}
		function resetOrderFields() {
			$("#client_label").html("Not available");
			$("#date_label").html("Not available");
			$("#page_image").attr("src", "http://placehold.it/150x100");
			$("#products_list").html("Not data available.");
			$("#status_list").html("");
			$("#order-progress").html("");
			percentage = 0;
		}
		function setOrderFields(page) {
			$("#client_label").html(page.order.client);
			$("#date_label").html(moment(new Date(page.order.insert_date)).format("YYYY-MM-DD HH:mm:ss"));
			if (page.page_image != null)
				$("#page_image").attr("src", page.page_image.sitePath);
			var products_array = page.page_products;
			$("#products_list").html("");
			products_array.forEach(function(entry) {
				$("#products_list").append(
						"<li>" + entry.quantity + "x " + entry.product.name
								+ "</li>");
			});
		}
		function setStatusFields(status) {
			$("#status_list").append("<li>" + status.status.description
					+ " - " + new Date(status.date).toString() + "</li>");
		}
		$(function() {
			var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket
			var dateSocket = new WS(
					"@routes.MonitorController.messageWs().webSocketURL(request)")

			var receiveEvent = function(event) {
				$("#first_line").hide();
				var result = JSON.parse(JSON.parse(event.data).text);
				if(popover) {
					$("#popover-div").popover('hide');
					popover = false;
				}
				switch (result.type) {
				case "page":
					$("#live_feed").prepend(buildPageFeed(result.object));
					lastOrderId = result.object.order.id;
					lastPageId = result.object.id;
					jQuery("abbr.timeago").timeago();
					jQuery.timeago(new Date());
					resetOrderFields();
					setOrderFields(result.object);
					addPercentageToBar(20, "success")
					percentage += 20;
					break;
				case "status":
					if (result.object.tray.page.id == lastPageId) {
						$("#first_line_status").hide();
						$("#live_feed").prepend(buildStatusFeed(result.object.status, lastOrderId));
						percentage += 40;
						setStatusFields(result.object);
						jQuery("abbr.timeago").timeago();
						jQuery.timeago(new Date());
						var type = result.object.statusType;
						addPercentageToBar(40, type);
						if(percentage == 100) {
							var title="";
							var content="";
							if(type == "success") {
								$('.popover-title').css("background-color", "#5cb85c");
								title = "Success";
								content = "Tray successfully validated";
								succSound.play();
							}else {
								title = "Error";
								content = "There was an error processing the tray";
								errSound.play();
							}
							$("#popover-div").popover({
								trigger: "manual",
								title: title,
								content: content
							});	
							$("#popover-div").popover('show');
							$('.popover-title').css("background-color", "#d9534f");
							$('.popover-title').css("color", "#f7f7f7");
							//$('.popover').css("background-color", "red");
							popover = true;
							setTimeout(function(){
								$("#popover-div").popover('hide');
								},10000);
						}
					} else {
						resetOrderFields();
					}
					break;
				}
			}

			dateSocket.onmessage = receiveEvent
		});
	</script>
</div>
}
