@(message: String, products: List[Product]) @main("PLiP Administration Panel") {
<div class="row">
	<div class="page-header">
		<div class="jumbotron">
			<h1>Products</h1>
			<h3>Realtime system monitoring</h3>
		</div>
	</div>
</div>
<div class="row">
	<table class="table table-hover table-bordered table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>Laboratory</th>
				<th>Status</th>
				<th>Code</th>
				<th>Weight</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>
}