@(user: User, userform: Form[User], roles: List[Role])

@import helper._
@import fields._
@implicitField = @{ FieldConstructor(bootstrapfield.f) }

@main("Add User") { 	
	<div class="row row-offcanvas row-offcanvas-right">
		<div class="col-xs-12 col-sm-9 ">
			<ol class="breadcrumb">
				<li><a href="@routes.ApplicationController.index()">Home</a></li>
				<li><a href="@routes.UserController.index()">Users</a></li>
				<li><a href="@routes.UserController.show(user.id)">@user.name</a></li>
				<li class="active">Edit</li>
			</ol>
			<h2>Edit User</h2>
			<div class="well well-lg col-md-8">
				@form(routes.UserController.update(user.id), 'class -> "form-horizontal") {
					@inputText(userform("name"), '_label -> "Name", 'class -> "form-control")
					@inputText(userform("last_name"), '_label -> "Lastname", 'class -> "form-control")
					@inputText(userform("username"), '_label -> "Username", 'class -> "form-control")
					@inputPassword(userform("password"), '_label -> "Password", 'class -> "form-control")
					@select(userform("role.id"), roles.map{
						r => r.id.toString -> r.name 
					}, '_label -> "Role",
			               '_showConstraints -> false, 'class -> "form-control")
			        <button type="submit" class="btn btn-primary" value="Save">Save</button>
				}
			</div> 
		</div>
		<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar"
			role="navigation">
			<ul class="nav">
				<li class="active"><a
					href="@routes.UserController.newUser()">Add User</a></li>
				<li><a
					href="@routes.UserController.index()">View Users</a></li>
			</ul>
		</div>
	</div>
}
