@(categoryForm: Form[Category])

@import helper._
@import fields._
@implicitField = @{ FieldConstructor(bootstrapfield.f) }

@main("Add Category") { 	
	<div class="row row-offcanvas row-offcanvas-right">
		<div class="col-xs-12 col-sm-9 ">
			<ol class="breadcrumb">
				<li><a href="/">Home</a></li>
				<li><a href="@routes.CategoryController.index()">Categories</a></li>
				<li class="active">Add</li>
			</ol>
			<h2>Add Category</h2>
			<div class="well well-lg col-md-6">
				@form(routes.CategoryController.createCategory(), 'class -> "form-horizontal") {
					@inputText(categoryForm("name"), '_label -> "Name", 'class -> "form-control")
			        <button type="submit" class="btn btn-primary" value="Create">Create</button>
				}
			</div> 
		</div>
		<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar"
			role="navigation">
			<ul class="nav">
				<li class="active"><a
					href="@routes.CategoryController.newCategory()">Add Category</a></li>
				<li><a
					href="@routes.CategoryController.index()">View Categories</a></li>
			</ul>
		</div>
	</div>
}
