@(currentPage: com.avaje.ebean.Page[Tray], currentSortBy: String, currentOrder: String, currentFilter: String, plip_order: Order) 

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage:Int, newSortBy:String) = @{
    
    var sortBy = currentSortBy
    var order = currentOrder
    
    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }
    
    // Generate the link
    routes.OrderController.trays(newPage, sortBy, order, currentFilter, plip_order.id)
    
}

@**********************************
* Helper generating table headers *
***********************************@
@header(key:String, title:String) = {
    <th class="@key.replace(".","_") header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, key)">@title</a>
    </th>
}

@main("Images") {
<script type="text/javascript">
	$(document).ready(function() {
		$('[data-toggle=offcanvas]').click(function() {
			$('.row-offcanvas').toggleClass('active');
		});
	});
</script>
<div class="row row-offcanvas row-offcanvas-right">
	<div class="col-xs-12 col-sm-9 ">
		<ol class="breadcrumb">
			<li><a href="@routes.ApplicationController.index()">Home</a></li>
			<li><a href="@routes.OrderController.index()">Orders</a></li>
			<li class="active">@plip_order.code</li>
		</ol>
		@if(flash.containsKey("success")) {
			<div class="alert alert-success alert-dismissable">
			  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			  <strong>Success!</strong> @flash.get("success")
			</div>
	    }
		<h1>Trays</h1>
	    
	    @if(currentPage.getList.size == 0) {
        
	        <div class="well">
	            <em>Nothing to display</em>
	        </div>
	        
	    } else {
	    	<div class="col-md-12">
				<table class="table table-hover table-bordered table-striped">
					<thead>
						<tr>
							<th>Image</th>
							@header("code", "Code")
							<th>Status</th>
						</tr>
					</thead>
					<tbody>
						@for(tray <- currentPage.getList) {
			                    <tr>
			                    	@if(tray.page.page_image == null) {
									  <td style="width: 50px"><img id="page_image" src="http://placehold.it/40x40"></td>
									} else {
									  <td style="width: 50px"><a href="@tray.page.page_image.getSitePath()" data-lightbox="image-1" title="Tray Image" width="40px"><img src="@tray.page.page_image.getSitePath()" alt="Tray Image" width="40px"></a></td>
									}
			                        <td>@tray.code</td>
			                        <td>
										@for(status <- tray.tray_status) {
										  <li>
										  @status.status.description 
										  @if(status.status.id == 6) {
										  	 - @status.product.name
										  }
										  @if(status.status.id == 3) {
										  	 - Cantidad @status.quantity
										  }
										  </li> 
										} 
									</td>			                        
			                    </tr>
			                }
					</tbody>
				</table>
	            <ul class="pagination pull-right">
	            	@if(currentPage.hasPrev) {
	                    <li class="prev">
	                        <a href="@link(currentPage.getPageIndex - 1, null)">&larr; Previous</a>
	                    </li>
	                } else {
	                    <li class="prev disabled">
	                        <a>&larr; Previous</a>
	                    </li>
	                }
	            	@if(currentPage.hasNext) {
	                    <li class="next">
	                        <a href="@link(currentPage.getPageIndex + 1, null)">Next &rarr;</a>
	                    </li>
	                } else {
	                    <li class="next disabled">
	                        <a>Next &rarr;</a>
	                    </li>
	                }
	            </ul>
            </div>
		}
	</div>
	<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar"
		role="navigation">
		<ul class="nav">
		</ul>
	</div>
</div>
}
