@(loginForm: Form[Login])

@import helper._
@import fields._
@implicitField = @{ FieldConstructor(signinfield.f) }

@main("Login") { 	
	<div class="row">
		@if(flash.contains("success")) {
		    <p class="success">
		        @flash.get("success")
		    </p>
		}
		<div class="col-md-6 col-md-offset-3">
			@form(routes.ApplicationController.authenticate(), 'class -> "form-signin") {
				<h2 class="form-signin-heading">Please sign in</h2>
				@if(loginForm.hasGlobalErrors) {
				    <p class="error">
				        @loginForm.globalError.message
				    </p>
				}
				@inputText(loginForm("username"), 'placeholder -> "Username", 'class -> "form-control")
				@inputPassword(loginForm("password"), 'placeholder -> "Password", 'class -> "form-control")
				<label class="checkbox">
		          <input type="checkbox" value="remember-me"> Remember me
		        </label>
		        <button type="submit" class="btn btn-lg btn-primary btn-block" value="Create">Login</button>
			}
		</div>
	</div>
}